<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the app, <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <input type="text" id="movie-name" placeholder="Enter Movie Name">
    <button onclick="fetchData('<%= user._id %>')">Fetch Movie</button>
    <div id="moviesList"></div>
    <script src="/index.js" defer></script>
</body>
</html>
